.container-istruction{
    display: flex;
    justify-content: center;
    margin: 5px; 
    
}
.container-title, h2{
    // align-items: center;
    text-align: center;
}

.cnt-istruzioni{
    font-size: 2em;
}